/* --------------------------------------------------*\
 
 $NORMALIZE

\* --------------------------------------------------*/
/* line 5, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* --------------------------------------------------*\
 
 $CONFIG MODULES

\* --------------------------------------------------*/
/* --------------------------------------------------*\
 
 $COLOR

\* --------------------------------------------------*/
/**
* Base colors: http://getbootstrap.com/css/#less-variables
*/
/* line 1, ../sass/modules/_clearfix.scss */
.clear:before, .clear:after {
  content: ' ';
  display: table; }

/* line 5, ../sass/modules/_clearfix.scss */
.clear {
  *zoom: 1; }
  /* line 10, ../sass/modules/_clearfix.scss */
  .clear:after {
    clear: both; }

/* ROTATE */
/* line 1, ../sass/modules/_defaults.scss */
* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* line 6, ../sass/modules/_defaults.scss */
html {
  font-size: 62.5%; }

/* line 9, ../sass/modules/_defaults.scss */
body {
  background: white;
  color: #222222; }

/* line 14, ../sass/modules/_defaults.scss */
img {
  max-width: 100%; }

/* line 18, ../sass/modules/_defaults.scss */
a {
  color: #428bca;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  /* line 22, ../sass/modules/_defaults.scss */
  a:hover {
    color: #2a6496;
    text-decoration: underline; }

/* line 1, ../sass/modules/_misc.scss */
::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

/* line 6, ../sass/modules/_misc.scss */
::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

/* line 11, ../sass/modules/_misc.scss */
::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

/* --------------------------------------------------*\
 
 $ELEMENTS

\* --------------------------------------------------*/
/* --------------------------------------------------*\
 
 $TYPO

\* --------------------------------------------------*/
/* line 7, ../sass/elements/_typography.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.08em; }

/* line 13, ../sass/elements/_typography.scss */
h5 {
  font-size: 13pt;
  font-weight: 600; }

/* line 18, ../sass/elements/_typography.scss */
p {
  font-size: 12pt;
  line-height: 1.5em; }

/* line 23, ../sass/elements/_typography.scss */
a {
  font-size: 13.5pt; }

/* line 27, ../sass/elements/_typography.scss */
.underline-text {
  text-decoration: underline; }

/* line 31, ../sass/elements/_typography.scss */
.italic-text {
  font-style: italic; }

/* line 35, ../sass/elements/_typography.scss */
.align-center {
  text-align: center; }

/* line 39, ../sass/elements/_typography.scss */
.uppercase {
  text-transform: uppercase; }

/* --------------------------------------------------*\
 
 $BUTTONS

\* --------------------------------------------------*/
/* --------------------------------------------------*\
 
 $VENDOR

\* --------------------------------------------------*/
/* --------------------------------------------------*\
 
 $EXTERNAL CSS

\* --------------------------------------------------*/
/* --------------------------------------------------*\
 
 $SERVICE

\* --------------------------------------------------*/
/* --------------------------------------------------*\
 
 $LEGACY-BROWSERS

\* --------------------------------------------------*/
/* line 9, ../sass/partials/_legacy-browsers.scss */
.legacy-browser, .error404 {
  line-height: 1.5;
  margin: 0;
  color: #555555;
  font-family: sans-serif;
  text-align: center;
  left: 50%;
  margin: -43px 0 0 -150px;
  position: absolute;
  top: 20%;
  width: 300px;
  background-color: white; }
  /* line 23, ../sass/partials/_legacy-browsers.scss */
  .legacy-browser h1, .error404 h1 {
    color: #555555;
    font-size: 2em;
    font-weight: 400; }
  /* line 29, ../sass/partials/_legacy-browsers.scss */
  .legacy-browser a, .error404 a {
    color: #428bca;
    text-decoration: none; }
  @media only screen and (max-width: 270px) {
    /* line 35, ../sass/partials/_legacy-browsers.scss */
    .legacy-browser body, .error404 body {
      margin: 10px auto;
      position: static;
      width: 95%; }
    /* line 41, ../sass/partials/_legacy-browsers.scss */
    .legacy-browser h1, .error404 h1 {
      font-size: 1.5em; } }

/* --------------------------------------------------*\
 
 $PARTIALS

\* --------------------------------------------------*/
/* --------------------------------------------------*\
 
 $HEADER

\* --------------------------------------------------*/
/* --------------------------------------------------*\
 
 $NAV

\* --------------------------------------------------*/
/* --------------------------------------------------*\
 
 $SIDEBAR

\* --------------------------------------------------*/
/* --------------------------------------------------*\
 
 $FOOTER

\* --------------------------------------------------*/
/* --------------------------------------------------*\
 
 $CUSTOM-OBJECTS

\* --------------------------------------------------*/
/* --------------------------------------------------*\
 
 $APP

\* --------------------------------------------------*/
