/* --------------------------------------------------*\
 
 $LEGACY-BROWSERS

\* --------------------------------------------------*/

// Update your browser

.legacy-browser,.error404{
	line-height: 1.5;
    margin: 0;
    color: $gray;
    font-family: sans-serif;
    text-align: center;

    left: 50%;
    margin: -43px 0 0 -150px;
    position: absolute;
    top: 20%;
    width: 300px;
    background-color: $white;  

	h1 {
	    color: $gray;
	    font-size: 2em;
	    font-weight: 400;
	}

	a{
	    color: $link-color;
	    text-decoration: none;
	}
	@media only screen and (max-width: 270px) {

	    body {
	        margin: 10px auto;
	        position: static;
	        width: 95%;
	    }

	    h1 {
	        font-size: 1.5em;
	    }
	}
}