/* --------------------------------------------------*\
 
 $COLOR

\* --------------------------------------------------*/

/**
* Base colors: http://getbootstrap.com/css/#less-variables
*/
$white: #ffffff;
$black: #000000;

$gray-darker:  lighten($black, 13.5%); // #222
$gray-dark:    lighten($black, 20%);   // #333
$gray:         lighten($black, 33.5%); // #555
$gray-light:   lighten($black, 60%);   // #999
$gray-lighter: lighten($black, 93.5%); // #eee

$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;


// Development colors

$sandybrown: 		#f4a460;
$cornflowerblue: 	#659CEF;
$pink: 				#ff69b4;

// Module colors

$link-color:       $brand-primary;
$link-color-hover: darken($link-color, 15%);