/* --------------------------------------------------*\
 $DEFAULTS
\* --------------------------------------------------*/

*,
*:after,
*:before {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @include box-sizing(border-box);
}

html,body {
  font-size: 62.5%;
  height: 100%;
  background: $white;
  color: $gray-darker;
}

img{
	max-width: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
  @include fade;
  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
}
